<div class="topnav">
    <div class="brand">Angular Demo</div>
    <div class="toplinks">
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="/form" routerLinkActive="active">Forms</a>
        <a routerLink="/text"routerLinkActive="active">Docs</a>
        <a routerLink="/parent" routerLinkActive="active">Parent</a>
        <a routerLink="/cards" routerLinkActive="active">Cards</a>
        <a routerLink="/todo" routerLinkActive="active">ToDo</a>
        <a routerLink="/todo2" routerLinkActive="active">ToDo2</a>
    </div>
    <div class="clear"></div>
</div>  